.icheck label{
	
	
	overflow:hidden;
	display:inline-block;
	
}
.icheck label input[type="checkbox"] {
  background: url('/src/assets/img/uncheck.jpg') 0 0px no-repeat;
  z-index: 10;
  display:block;
  float:left;
  font-size: 12px;
  height: 22px;
  width: 22px;
  line-height: 16px;
  margin:0 6px 0 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
 /*
  background-color: #6283B2;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  */
  outline:0;
  border:none;
}


.icheck label input[type="checkbox"]:checked{
  background: url('/src/assets/img/checked.jpg') 0 0px no-repeat; 
  background-color: #37924A;
}
